.image-container {
  display: flex;
  margin-top: 50px; 
  flex-direction: column;
}

.image-section {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-left: 160px;
  margin-top: 70px;
  overflow: hidden;
  border: 3px solid lightblue;
}

.image {
  transform: scale(0.6);
}

.text {
  position: absolute;
  margin-left: 280px; 
  left: 0;
  margin-top: -25px;
}

.text p {
  width: 280px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.second-c{
  margin-left: 200px;
}
.first-c, .second-c, .third-c {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.second-c p {
  width: 280px;
  margin-left: 475px;
}
.second-c h3 {
  margin-left: 475px;
}
.third-c{
  margin-left: 175px;
}
.third-c p{
  width: 280px;
  margin-left: 925px;
}
.third-c h3{
  margin-left: 925px;
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column; 
  }
  .first-c, .second-c, .third-c {
    margin-left: 0; 
  }
  .second-c p, .second-c h3, .third-c p, .third-c h3 {
    width: auto;
    margin-left: 0;
  }
  .text {
    position: absolute; 
    margin-left: 120px; 
    padding-left: 12px;
  }
  .image-container{
    margin-left: -150px;
    margin-right: 6px;
  }


}
.round-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  object-fit: cover;
  margin-left: 50px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 380px;
  height: 400px;
  margin-left: 110px;
  margin-top: 120px;
  padding: 10px;
  font-family: sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 20px;
}

.card-body {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 20px;
}

.new-button {
  order: 1;
  background-color: #4caf50; 
  color: #fff; 
  border: 1px solid #4caf50; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  height: 40px;
  width: 100px;
  font-family: sans-serif;
  font-size: medium;
}

.new-button:hover {
  background-color: #8bc34a;
  color: #000; 
}

.round-image {
  order: 2;
}

.text-container p {
  order: 3;
}
.img-container{
  margin-left: 80px;
  position: absolute;
  margin-top: -240px;

}
.KevinJoe{
  position: absolute;
  margin-left: 200px;
  margin-top: -25px;
}

.text-c{
  padding-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: 	#C0C0C0;
  font-weight: 600;
}

.download-button{
  border: 1px solid blue;
  border-radius: 45px;
  font-family: sans-serif;
  font-size: medium;
  cursor: pointer;
  height: 40px;
  width: 200px;
  margin-top: 40px;
  background: none;
  color: blue;
}

.download-button:hover {
  background-color: lightblue;
  color: #000;
  transform: translateY(-7px);  
  transition: transform 0.5s;   
}
.prf-cont {
  display: flex;
  justify-content:last baseline;
  padding-bottom: 100px;
}


.second-data .new-button {
  background-color: blue; 
}

.second-data .new-button:hover {
  background-color: #00FFFF; 
  color: black; 
}
.second-data .text-c{
padding-top: 35px;
margin-bottom: -20px;
}

.second-data .img-container{
  margin-left: 80px;
  position: absolute;
  margin-top: -240px;
}

.third-data .new-button{
  background-color: #9400d3;
  width: fit-content;
  border: 1px solid #9400d3;
}
.third-data .new-button:hover {
  background-color: violet;
  color: #000;
}

