.image-container {
  display: flex;
  margin-top: 50px; 
}

.image-section {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  margin-left: 160px;
  margin-top: 70px;
  overflow: hidden;
  border: 3px solid lightblue;
}

.image {
  transform: scale(0.6);
}

.text {
  position: absolute;
  margin-left: 280px; 
  left: 0;
  margin-top: -25px;
}

.text p {
  width: 280px;
}

.container {
  display: flex;
}
.second-c{
  margin-left: 200px;
}
.first-c, .second-c, .third-c {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.second-c p {
  width: 280px;
  margin-left: 475px;
}
.second-c h3 {
  margin-left: 475px;
}
.third-c{
  margin-left: 175px;
}
.third-c p{
  width: 280px;
  margin-left: 925px;
}
.third-c h3{
  margin-left: 925px;
}
